button[ngs-icon-btn] {
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    outline: none;
    border: 0;
}

button[ngs-icon-btn]:hover {
    background-color: var(--black-secondary);
}